.header{
    display:flex;
    background-color: rgb(194, 143, 113);
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.button{
    background-color: rgb(165, 124, 101);
    align-content: center;
    text-align: center;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    margin-left: 9rem;
    margin-right: 9rem;
}

.button:hover{
    transform: scale(1.1)
}